<div class="modal_head">
    <i class="icon_close" onclick="common.modal_hide()"></i>
</div>
<div class="modal_body">
    <h2 class="" style="text-align: center;">
        Удалить пользователя?
    </h2>

    <div class="modal_controls">
        <div>
            <div class="btn_modal primary" onclick="common.user_delete({$user_id}, event);">Delete</div>
        </div>
        <div>
            <div class="btn_modal light" onclick="common.modal_hide();">Cancel</div>
        </div>
    </div>
</div>
